.skills {
    background: var(--light);
    opacity: 0.7;
    margin: 0 10px;
    box-shadow: 10px 7px 26px -4px;
    margin-bottom: 10px;
}

.skills__title {
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
}

.skills__skills-navbar {
    margin: 0 10px;
}

.skills-navbar__content {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills-navbar__element {
    width: 100%;
    background: var(--dark);
    border-bottom: 2px solid transparent;
}

.skills-navbar__button {
    color: #fff;
    font-size: 20px;
    background: transparent;
    height: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid transparent;
}

.skills__info {
    display: none;
}

.skills__info--outer {
    margin: 10px;
    border: 3px solid black;
}

.skills__info--inner {
    margin: 10px;
}

.activeSkill {
    animation: blink .5s step-end infinite alternate;
    background: transparent;

}
  
@keyframes blink { 
    50% { border-color: blue; } 
} 


.display {
    display: contents;
}

.skills__ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.skills__li {
    margin: 15px;
}

.skill__circles {
    display: flex;
    flex-direction: row;
}

.skills__h3 {
    position: absolute;
    left: 10%;
}

.circle-0 {
    position: absolute;
    left: 60%;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

  .circle-1 {
    position: absolute;
    left: 70%;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

.circle-2 {
    position: absolute;
    left: 80%;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

  .blue {
    background-color: blue;
  }