:root {
  --dark: #393840;
  --light: #7F7372;
  --pink: #D3AFAB;
  --green: #837D53;
  --yellow: #D3CFAB;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=582&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: var(--dark); */
  margin: 0;
  overflow-x: hidden;
}