.about {
    border: 3px solid var(--black);
    position: sticky;
    top: 0;
    /* background: var(--dark); */
    background-image: var(--background-url);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* opacity: 0.7; */
    margin: 0 10px;
    /* box-shadow: 10px 7px 26px -4px; */
}

.about__title {
    text-align: center;
    margin-top: 70px;
}

.about__about-navbar {
    margin: 0 10px;
}

.about-navbar__content {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-navbar__element {
    width: 100%;
    border-bottom: 2px solid transparent;
    background: var(--black);
}

/* .about-navbar__element:first-child {
    border-top-left-radius: 10px;
}

.about-navbar__element:last-child {
    border-top-right-radius: 10px;
} */

.about-navbar__button {
    color: #fff;
    font-size: 20px;
    background: transparent;
    height: 100%;
    border: none;
}

.about__info {
    display: none;
}

.about__info--outer {
    margin: 10px;
    border: 3px solid black;
}

.about__info--inner {
    margin: 10px;
}

.activeAbout {
    animation: blink .5s step-end infinite alternate;
    background: transparent;
}

.activeAbout button {
    color: var(--black);
}
  
@keyframes blink { 
    50% { border-bottom-color: blue; }
} 


.display {
    display: contents;
}