.about {
    position: sticky;
    top: 0;
    background-image: var(--background-url);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120%;
    box-shadow: var(--sectionShadow);
}

.about__title {
    text-align: center;
    margin-top: 70px;
    font-weight: var(--titleWeight);
}

/* .about__about-navbar {
    margin: 0 10px;
} */

.about-navbar__content {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-navbar__element {
    width: 100%;
    /* background: var(--black); */
}

/* .about-navbar__element:first-child {
    border-top-left-radius: 10px;
}

.about-navbar__element:last-child {
    border-top-right-radius: 10px;
} */

.about-navbar__button {
    color: var(--black);
    font-size: 20px;
    background: transparent;
    height: 100%;
    border: none;
}

.about__info {
    display: none;
}

.about__info--outer {
    margin: 20px 0;
    font-size: 0.7em;
}

.about__info--inner {
    margin: 10px;
}

.activeAbout {
    /* animation: blink .5s step-end infinite alternate; */
    background: transparent;
}

.activeAbout button {
    color: #fff;
    background: var(--black);
}
  
@keyframes blink { 
    50% { border-bottom-color: blue; }
} 


.display {
    display: contents;
}

@media screen and (min-width: 600px) {
    .about {
      top: 85px;
    }
    .about__title {
        margin-top: 0;
    }

    .about__info--outer {
        margin: 40px;
        font-size: 1em;
    }
}

@media screen and (min-width: 1200px) {
    .about {
      /* width: 80%; */
      background-image: var(--background-url-landscape);
      background-size: 100%;
      margin: 0 auto;
    }

    .about__info--outer {
        margin: 100px;
    }
  }