.contact {
    position: sticky;
    top: 25px;
    /* background-image: var(--background-url);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120%; */
    background-color: var(--background);
    box-shadow: var(--sectionShadow);
    padding-bottom: 160px;

}

.contact__title {
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
    font-weight: var(--titleWeight);
}

.contact__contact-form {
    height: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.contact__contact-form label {
    margin: 10px auto;
}

.contact__contact-form input {
    height: 30px;
}

.contact__contact-form textarea {
    height: 140px;
}

#submit {
    margin: 10px auto;
    width: 100px;
    background: transparent;
    border: none;
    font-size: 20px;
}

@media screen and (min-width: 1200px) {
    .contact {
      /* width: 80%; */
      /* background-image: var(--background-url-landscape); */
      background-size: 100%;
      margin: 0 auto;
    }
  }