.contact {
    position: sticky;
    top: 25px;
    /* background-image: var(--background-url);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120%; */
    background-color: var(--background);
    /* box-shadow: var(--sectionShadow); */
    /* padding-bottom: 300px; */

}

.contact__title {
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
    font-weight: var(--titleWeight);
    font-size: var(--titleFontSize);
}

.contact__contact-form {
    height: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    font-weight: var(--titleWeight);
    font-family: inherit;
}

.contact__contact-form input, textarea {
    background: rgb(78 72 72);
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0px 0px 2px #fff;
}

input {
    margin-bottom: 40px;
}

.contact__contact-form label {
    margin: 10px auto;
}

.contact__contact-form input {
    height: 30px;
}

.contact__contact-form textarea {
    height: 140px;
}

#submit {
    margin: 10px auto;
    width: 100px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: var(--blue);
    transition: transform .7s ease-in-out;
}

#submit:hover {
    color: #fff;
    transform: scale(1.2);
}

@media screen and (min-width: 1200px) {
    .contact {
      /* width: 80%; */
      /* background-image: var(--background-url-landscape); */
      background-size: 100%;
      margin: 0 auto;
    }
  }