.footer {
    position: sticky;
    top: 0;
    height: 50px;
    box-shadow: var(--sectionShadow);
    background: var(--black);
    margin-bottom: 101px;
    color: var(--blue);
}

.footer__text {
    text-align: center;
    padding-top: 16px;
}

@media screen and (min-width: 600px) {
    .footer {
        margin-bottom: 0;
      }
  }