.projects {
    /* border-top: 3px solid var(--black); */
    position: sticky;
    top: 0;
    background-image: var(--background-url);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* opacity: 0.7; */
    box-shadow: var(--sectionShadow);
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.projects__title {
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
}

.projects__wrap {
    display: flex;
    flex-direction: row;
}

.projects__button--left, .projects__button--right {
    width: 20px;
    height: 250px;
}

.show-button {
    display: contents;
}



