:root {
  --black: #000;
  --dark: #393840;
  --light: #7F7372;
  --pink: #D3AFAB;
  --green: #837D53;
  --yellow: #D3CFAB;
  --background-url: url(https://images.unsplash.com/photo-1566041510639-8d95a2490bfb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=652&q=80);
  --sectionShadow: 5px -2px 9px -7px;;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  /* background-color: var(--dark); */
  margin: 0;
  overflow-x: hidden;
}

button {
  width: 100%;
}