.about {
    background: var(--dark);
    opacity: 0.7;
    border-right: 10px solid black;
    border-left: 10px solid black;
    border-radius: 10px;
}

.about__title {
    text-align: center;
}

.about__about-navbar {

}

.about-navbar__content {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-navbar__element {
    width: 100%;
}

.about-navbar__button {
}

.about__info {
    display: none;
}

.about__info--outer {
    margin: 10px;
    border: 3px solid black;
}

.about__info--inner {
    margin: 10px;
}

.active {
    display: contents;
    animation: blink-animation 4s steps(30, start) infinite;

}

@keyframes blink-animation {
    0% {
      box-shadow: 0px 1px 10px 0px var(--light);
    }
    50% {
        box-shadow: 0px 1px 50px 1px var(--light);
    }
    100% {
        box-shadow: 0px 1px 10px 0px var(--light);
    }
}

.display {
    display: contents;
}