.nav-links {
    height: 50px;
    position: sticky;
    top: 10px;
    z-index: 998;
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 13px 38px -12px;
  }
  
  .nav-links__link-container {
    width: 100%;
  }
  
  .nav-links__logo {
    width: 52px;
    height: 52px;
  }