.skills {
    color: var(--yellow);
}

.skills__title {
    margin-top: 0px;
}

.skills__ul {
    display: flex;
    flex-direction: column;
}

.skills__li {
    margin: 15px;
}

.skill__circles {
    display: flex;
    flex-direction: row;
}

.skills__h3 {
    position: absolute;
    left: 10%;
}

.circle-0 {
    position: absolute;
    left: 60%;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

  .circle-1 {
    position: absolute;
    left: 70%;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

.circle-2 {
    position: absolute;
    left: 80%;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

  .blue {
    background-color: blue;
  }